echo "Sourcing config..."
syntax on
set hls
set foldmethod=indent
set autoindent
set ignorecase
set smartcase
autocmd BufEnter,InsertLeave * :syntax sync fromstart

" YCM
"map <leader>g  :YcmCompleter GoToDefinitionElseDeclaration<CR>
let g:ycm_filetype_whitelist = { 'cpp': 1, 'c': 1, 'python':1 }
set completeopt-=preview

" delimitMate
let delimitMate_expand_space = 1
let delimitMate_expand_cr = 1
let delimitMate_jump_expansion = 1

" Supertab
let g:SuperTabDefaultCompletionType = "<c-n>"
		
